<section class="bg-primary" id="beliefs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What We Believe</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                
                <p class="text-faded">1. The unity of the Father, the Son, and the Holy Spirit in the Godhead</p>

               <p class="text-faded">2. The sovereignty of God in creation, revelation, redemption, and final judgement</p>

               <p class="text-faded">3. The divine inspiration and infallibility of Holy Scripture as originally given and its supreme authority in all matters of faith and conduct</p>

               <p class="text-faded">4. The universal sinfulness and guilt of human nature since the Fall, rendering man subject to God’s wrath and condemnation</p>

               <p class="text-faded">5. The full deity of the Lord Jesus Christ as the incarnate Son of God; his virgin birth, and his real and sinless humanity; his death on the cross, his bodily resurrection and his present reign in heaven and earth</p>

               <p class="text-faded">6. Redemption from the guilt, penalty and power of sin only through the sacrificial death once and for all time of our representative and substitute Jesus Christ, the only mediator between God and man</p>

               <p class="text-faded">7. Justification as God’s act of undeserved mercy in which the sinner is pardoned all his sins and accepted as righteous in God’s sight only because of the righteousness of Christ imputed to him, this justification being received by faith alone</p>

               <p class="text-faded">8. The need for the Holy Spirit to make the work of Christ effective to the individual sinner, granting him repentance toward God and faith in Jesus Christ</p>

               <p class="text-faded">9. The indwelling of the Holy Spirit in all those thus regenerated, producing in them an increasing likeness to Christ in character and behaviour, and empowering them for their witness in the world</p>

              <p class="text-faded">10. The only holy universal Church which is the Body of Christ to which all true believers belong</p>

              <p class="text-faded">11. The further personal return of the Lord Jesus Christ who will judge all men, executing God’s just condemnation on the impenitent and receiving the redeemed to eternal glory</p>
                
            </div>
        </div>
    </div>
</section>
