<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to Mirfield Evangelical Church.</h2>
                <hr class="light">
                <p class="text-faded">MEC is a Christ-centred, Bible-teaching, Evangelical church in Mirfield, West Yorkshire. We are made up of a wide range of people who have in common that we love, trust and serve Jesus Christ, and through him know God as our Father. Please browse our site to find out more about us. </p>
                
            </div>
        </div>
    </div>
</section>
