<section class="no-padding bg-dark" id="clubs">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box" onclick="void(0)">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="Fish Club Tuesday 3:30pm-4:45pm" title="Fish Club Tuesday 3:30pm-4:45pm">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">		
                             <div class="project-category text-faded">		
                                 Fish Club		
                             </div>		
                             <div class="project-name" data-txt="home.fish-club">		
                                 Tuesday 3:30pm-4:45pm		
                             </div>		
                        </div>		
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box" onclick="void(0)">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="Tuesday Club 6:30pm-7:30pm" title="Tuesday Club 6:30pm-7:30pm">
                    <div class="portfolio-box-caption">
                         <div class="portfolio-box-caption-content">		
                             <div class="project-category text-faded">		
                                 Tuesday Club		
                             </div>		
                             <div class="project-name" data-txt="home.tuesday-club">		
                                 Tuesday 6:30pm-7:30pm		
                             </div>		
                         </div>		
                     </div>
                </div>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <div class="portfolio-box" onclick="void(0)">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="Midweek Prayer Meeting Wednesday 7:30pm" title="Midweek Prayer Meeting Wednesday 7:30pm">
                    <div class="portfolio-box-caption">	
                         <div class="portfolio-box-caption-content">		
                             <div class="project-category text-faded">		
                                 Midweek Prayer Meeting		
                             </div>		
                             <div class="project-name" data-txt="home.prayer-meeting">		
                                 Wednesday 7:30pm		
                             </div>		
                         </div>		
                     </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div onclick="void(0)" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="Jolly Tots Thursday 9:45am-11am" title="Jolly Tots Thursday 9:45am-11am">
                    <div class="portfolio-box-caption">	
                         <div class="portfolio-box-caption-content">		
                             <div class="project-category text-faded">		
                                 Jolly Tots		
                             </div>		
                             <div class="project-name" data-txt="home.jolly-tots">		
                                 Thursday 9:45am-11am		
                             </div>		
                         </div>		
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
