<section class="no-padding" id="clubs">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <span href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="Fish Club Tuesday 3:30pm-4:45pm" title="Fish Club Tuesday 3:30pm-4:45pm">
                </span>
            </div>
            <div class="col-lg-6 col-sm-6">
                <span href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="Tuesday Club 6:30pm-7:30pm" title="Tuesday Club 6:30pm-7:30pm">
                </span>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <span href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="Midweek Prayer Meeting Wednesday 7:30pm" title="Midweek Prayer Meeting Wednesday 7:30pm">
                </span>
            </div>
            <div class="col-lg-6 col-sm-6">
                <span href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="Jolly Tots Thursday 9:45am-11am" title="Jolly Tots Thursday 9:45am-11am">
                </span>
            </div>
        </div>
    </div>
</section>
