<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mirfield Evangelical Church</h2>
                <hr class="primary">
                <p>{{ site.base_address }}</p>
            </div>
        <div class="col-lg-3 col-lg-offset-3 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="tel:{{ site.phone_number }}">
            <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.phone_number }}</p>
            </a>
        </div>

    </div>
</section>
