<section class="bg-primary" id="beliefs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Coronavirus Update</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                
               <p>We are re-opening the church building for morning services in person from <b><i style="font-size: 20px; color:brown;">Sunday 13th September at 10.45am</i></b>. Due to social distancing regulations, we are required to limit numbers attending. If you would like to pre-book a place to attend, please email <a href="mailto:mirfieldchurch@gmail.com?subject=Mirfield%20Prebook%20Service%20Request" style="color: #337ab7;">mirfieldchurch@gmail.com</a> by 5pm on the Friday before the service you are hoping to attend. All those attending <b><i style="font-size: 20px; color:brown;">must wear a face-covering</i></b>, in line with government regulations, unless you have an exemption for health or age reasons.</p>
               <p>For those unable to attend in person, we will be live-streaming the morning service via our <a href="https://www.youtube.com/channel/UCu--nNMXknJlTP39UKE1tng" style="color: #337ab7;">YouTube channel</a></p>
               <p>Evening services and other activities will continue to take place via Zoom. Contact the church on the above <a href="mailto:mirfieldchurch@gmail.com?subject=Mirfield%20Zoom%20Meeting%20Inquiry" style="color: #337ab7;">email address</a> for more details.</p>
               <p>If you are in need of any support, whether practically, emotionally, or spiritually, please don’t hesitate to be in touch.</p>
               <p>David Puttick<br/>
               Pastor<br/>
               Mirfield Evangelical Church<br/>
               </p>
            </div>
        </div>
    </div>
</section>
