<section class="bg-primary" id="beliefs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Coronavirus Update</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
               <p>Due to the current government guidelines on Covid-19, and with particular concern for the most vulnerable in our community, it is with great sadness that all meetings of MEC are suspended until further notice.</p>
               <p>At this time of great uncertainty, we need each other and our God more than ever. So we are continuing to ‘meet’ online. Bible teaching will be posted here on the website each Sunday, and will also be available via our Facebook page and YouTube channel (search for ‘Mirfield Evangelical Church’). We are using Zoom to meet on Sunday and Wednesday evenings. Please contact us via <a href="mailto:mirfieldchurch@gmail.com?subject=Mirfield%20Zoom%20Meeting%20Inquiry" style="color: #337ab7;">mirfieldchurch@gmail.com</a> if you would like any further information.</p>
               <p>If you are in need of any support, whether practically, emotionally or spiritually, please don’t hesitate to get in touch.</p>
               <p>David Puttick<br/>
               Pastor<br/>
               Mirfield Evangelical Church<br/>
               </p>
            </div>
        </div>
    </div>
</section>
