<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<!-- Instant CM -->
<script src="https://instantcm.com/js/v2/latest/txt-min.js"></script>
<script>
var options = {
  id: "86c93978-bea6-467c-aaa4-f484e6856d80"
};
Txt.render(options);
</script>

<!--AIzaSyBa4Tc3lqyvVwXE6dwcVFjIUVu6IHcmtv0-->