.portfolio-box-text-only {
    position: relative;
    display: block;
    max-width: 650px;
    height: 227px;
    margin: 0 auto;
    background: rgba($theme-primary, 1);
    opacity: 1;
    color: white;
    
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-text-only {
            .portfolio-box-text-only-content {
                    font-size: 22px;
            }
        }
    }
}
#map{
    width:100%;
    height:200px; 
    @media (min-width: 768px) {
        height:400px;
    }
}
header .header-content{
    @media screen and (min-width:701px) and (max-width: 800px) {
        top:70%;
    }
}
header .header-content .header-content-inner {
    h1{
        font-size: 40px;
    }
}

//navication stuff
.navbar-default{
    
    @media screen and (max-width: 500px) {
        svg.logo{
                display: none;
            }
        span.logo-text{
            display: block;
            font-size: small;
        } 
    }
   @media screen and (min-width:701px) and (max-width: 800px) {
        svg.logo{
            width:95%;
            height: 20%;
        }
    }
    
    @media (min-width: 768px) {
        span.logo-text{
            display: none;
        }
        &.affix {
           span.logo-text{
            display: block;
            } 
            svg.logo{
                display: none;
            }
        }
    }
    .navbar-brand{
        height:auto;
    }
}
.mirfield-map {
    h2 {
        margin: 0 auto 20px;
    }
}
.bg-darker {
    background-color: $map-aside;
    color: white;
}
.bg-default-dark {
    background-color: $default-dark;
    color: white;
}
#clubs{
    background-color: $theme-primary-dark;
}
#beliefs{
    margin-top: 10%;
}
 #searchBar {
   font-size: 80%;
   padding: 0.43em 0 0.57em;

       #search {
         float: right;

         #searchString {
           width: 283px;
           border: none;
           box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
           padding: 0.3em 0.6em;
           background-color: #f6f5ea;
           margin-right: 0;
         }

         #searchButton {
           padding: 0.3em 0.6em;
           background-color: #0B5485;
           border: 1px solid #f6f5ea;
           margin-left: 0;
           color: white;
           -webkit-appearance: none;
           border-radius: 0;
         }
     }
}
