.portfolio-box-text-only {
    position: relative;
    display: block;
    max-width: 650px;
    height: 227px;
    margin: 0 auto;
    background: rgba($theme-primary, 1);
    opacity: 1;
    color: white;
    
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-text-only {
            .portfolio-box-text-only-content {
                    font-size: 22px;
            }
        }
    }
}
#map{
    width:100%;
    height:200px; 
    @media (min-width: 768px) {
        height:400px;
    }
}
header .header-content{
    @media screen and (min-width:701px) and (max-width: 800px) {
        top:70%;
    }
}
header .header-content .header-content-inner {
    h1{
        font-size: 40px;
    }
}

//navication stuff
.navbar-default{
    
    @media screen and (max-width: 500px) {
        svg.logo{
                display: none;
            }
        span.logo-text{
            display: block;
            font-size: small;
        } 
    }
   @media screen and (min-width:701px) and (max-width: 800px) {
        svg.logo{
            width:95%;
            height: 20%;
        }
    }
    
    @media (min-width: 768px) {
        span.logo-text{
            display: none;
        }
        &.affix {
           span.logo-text{
            display: block;
            } 
            svg.logo{
                display: none;
            }
        }
    }
    .navbar-brand{
        height:auto;
    }
}
.mirfield-map {
    h2 {
        margin: 0 auto 20px;
    }
}
.bg-darker {
    background-color: $map-aside;
    color: white;
}
.bg-default-dark {
    background-color: $default-dark;
    color: white;
}
#clubs{
    background-color: $theme-primary-dark;
}
#beliefs{
    margin-top: 10%;
}
#archives{
    margin-top: 14em;
}
#search-bar {
position: absolute;
width: 100%;
font-size: 80%;
right: 0;
left: 0;
z-index: 1030;

    &.search-bar-shrink{
        top:3.5rem;
        padding-top: 0.43rem;
    }
    #search-input {
        color: #333;
       padding: 17px;
       border: 1px solid #e3e3e3;
       border-radius: 0;
       -moz-appearance: none;
       -webkit-appearance: none;
        box-shadow: none; 
       outline: 0;
       margin: 0;
    }
    & > ul{
       list-style: none; 
       color: #333;
       li > a{
           color: #e3e3e3
       }
    }
    .service-box > a,i{
        color: #e3e3e3
    }
}
input#search-input{
    margin: 0.2rem 0.3rem;
    width: 450px;
    max-width: unset;
    @media (min-width: 768px) {
        max-width: 310px;
    }
    transition: all 0.2s ease-in-out;
}
.search-left
{
     float: left;
     padding: 15px 9px 0 0;
}
.search-right
{
     float: left;
     padding: 0.8rem 0 0;
}
.search-icon
{
     width: 24px;
     height: 24px;
}
